*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex; 

    justify-content: space-between;
    align-items: center;

    
    
}

.item{
    background-color: tomato;
    margin: 10px;
    color: #ffff;
    font-size: 22px;
    border-radius: 5px;
    width: 100px;
    height: 100px; 
    

}

.item2{ 
    align-self: flex-end;
    

}
   